.DS_Store
**/.DS_Store

client/Babylon.js/node_modules
client/Babylon.js/docs
client/Babylon.js/README_original.md

server/nginx/static/media/*
!server/nginx/static/media/vsenseVVDB2
server/nginx/static/media/vsenseVVDB2/*
!server/nginx/static/media/vsenseVVDB2/positions.json
!server/nginx/static/media/vsenseVVDB2_600f
server/nginx/static/media/vsenseVVDB2_600f/*
!server/nginx/static/media/vsenseVVDB2_600f/positions.json
server/nginx/config/certs/*
server/nginx/logs/*

test/puppeteer/node_modules
test/puppeteer/results/*
# !test/puppeteer/results/plot_results_chart_1.py
# !test/puppeteer/results/process_results_to_csv.py
test/puppeteer/network-patterns/preprocessed
test/puppeteer/network-patterns/5g-lumous-v1.js
test/puppeteer/network-patterns/5g-lumous-v2.js
